@reference "./tailwind.css";

/* Override typography CSS variables on the prose element */
@utility prose {
	--tw-prose-headings: var(--color-info);
	--tw-prose-body: var(--color-primary-foreground);
	--tw-prose-links: var(--color-primary);
}

/* Style child elements directly in a layer */
@layer utilities {
	.prose {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--color-secondary);
			font-family: var(--font-display);
		}
		a {
			color: var(--color-info);
			font-weight: 500;
			text-decoration: dashed underline var(--color-info);
		}
	}
}
